body {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-image: url("images/Website Photo Collage.jpg");
}
/* customized flow for ease of reading */

.col {
  padding: 50px;
  align-items: center;
  margin: 15px;
}
.row{
  justify-content: center;
}

footer {
  background-color: #9E8697;
  width: 100%;
}