body {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-image: url("../images/Website Photo Collage.jpg");
  overflow-x: hidden;
}

.row{
  margin-left: 0;
  margin-right: 0;
  padding: 2rem 0;
}

.row:not(.diff-bg) {
  background-color: rgba(255, 255, 255, 0.8);
}

footer.page-footer {
  background-color: #32B3BB;
  position: sticky;
  z-index:1;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16), 0 4px 20px 0 rgba(0,0,0,0.12);
}

.social-media-area {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}

.fa {
  font-size: 45px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

#copyright {
  padding-top: 20px;
  text-align: center;
}

.footer-row, .btn, #contact {
  background-color: #32B3BB;
}
.center-content{
display: flex;
justify-content: center;
}

.btn {
  margin-top: 0%;
  margin-bottom: 5%;
}

h4 {
  font-weight: bolder;
}

h2 {
  font-weight: bolder;
}

.container-fluid {
  padding-right: 0;
}

#contact {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.width-limit{
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

a:hover {
  text-decoration: none;
}


.btn-secondary {
  background-color: #D56D95;
}

.card {
  background-color: #FDD3AE;
  margin-left: 1rem;
  margin-right: 1rem;
}

.email:hover {
  color: #D56D95;
}
