body {
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-image: url("../images/Website Photo Collage.jpg");
}

.row {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  padding: 10px;
}
.col {
  padding-top: 2%;
  display: flex;
}

footer.page-footer {
  background-color: #5997aa;
  position: sticky;
  height: 50px;
  z-index:1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.fa {
  padding: 20px;
  font-size: 45px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

#copyright {
  padding-top: 20px;
  text-align: center;
}

#footer-row {
  background-color: #5997aa;
}
#animation-card {
  background-color: #5997aa;
  padding: 0%;
}
.btn-secondary {
  background-color: #5997aa;
}

.btn {
  margin-top: 0%;
  margin-bottom: 5%;
  background-color: #5997aa;
}

#contact {
  background-color: #5997aa;
  padding: 2%;
}

h4 {
  font-weight: bolder;
}

h2 {
  font-weight: bolder;
}
